@include media($small) {
	.small-1{
		@include span-columns(1);
	}
	.small-2{
		@include span-columns(2);
		.small-1-of-2{
			@include span-columns(1 of 2);
		}
		.small-2-of-2{
			@include span-columns(2 of 2);
		}
	}
	.small-3{
		@include span-columns(3);
		.small-1-of-3{
			@include span-columns(1 of 3);
		}
		.small-2-of-3{
			@include span-columns(2 of 3);
		}
		.small-3-of-3{
			@include span-columns(3 of 3);
		}
	}
	.small-4{
		@include span-columns(4);
		.small-1-of-4{
			@include span-columns(1 of 4);
		}
		.small-2-of-4{
			@include span-columns(2 of 4);
		}
		.small-3-of-4{
			@include span-columns(3 of 4);
		}
		.small-4-of-4{
			@include span-columns(4 of 4);
		}
	}
	.small-5{
		@include span-columns(5);
		.small-1-of-5{
			@include span-columns(1 of 5);
		}
		.small-2-of-5{
			@include span-columns(2 of 5);
		}
		.small-3-of-5{
			@include span-columns(3 of 5);
		}
		.small-4-of-5{
			@include span-columns(4 of 5);
		}
		.small-5-of-5{
			@include span-columns(5 of 5);
		}
	}
	.small-6{
		@include span-columns(6);
		.small-1-of-6{
			@include span-columns(1 of 6);
		}
		.small-2-of-6{
			@include span-columns(2 of 6);
		}
		.small-3-of-6{
			@include span-columns(3 of 6);
		}
		.small-4-of-6{
			@include span-columns(4 of 6);
		}
		.small-5-of-6{
			@include span-columns(5 of 6);
		}
		.small-6-of-6{
			@include span-columns(6 of 6);
		}
	}
	.small-7{
		@include span-columns(7);
		.small-1-of-7{
			@include span-columns(1 of 7);
		}
		.small-2-of-7{
			@include span-columns(2 of 7);
		}
		.small-3-of-7{
			@include span-columns(3 of 7);
		}
		.small-4-of-7{
			@include span-columns(4 of 7);
		}
		.small-5-of-7{
			@include span-columns(5 of 7);
		}
		.small-6-of-7{
			@include span-columns(6 of 7);
		}
		.small-7-of-7{
			@include span-columns(7 of 7);
		}
	}
	.small-8{
		@include span-columns(8);
		.small-1-of-8{
			@include span-columns(1 of 8);
		}
		.small-2-of-8{
			@include span-columns(2 of 8);
		}
		.small-3-of-8{
			@include span-columns(3 of 8);
		}
		.small-4-of-8{
			@include span-columns(4 of 8);
		}
		.small-5-of-8{
			@include span-columns(5 of 8);
		}
		.small-6-of-8{
			@include span-columns(6 of 8);
		}
		.small-7-of-8{
			@include span-columns(7 of 8);
		}
		.small-8-of-8{
			@include span-columns(8 of 8);
		}
	}
	.small-9{
		@include span-columns(9);
		.small-1-of-9{
			@include span-columns(1 of 9);
		}
		.small-2-of-9{
			@include span-columns(2 of 9);
		}
		.small-3-of-9{
			@include span-columns(3 of 9);
		}
		.small-4-of-9{
			@include span-columns(4 of 9);
		}
		.small-5-of-9{
			@include span-columns(5 of 9);
		}
		.small-6-of-9{
			@include span-columns(6 of 9);
		}
		.small-7-of-9{
			@include span-columns(7 of 9);
		}
		.small-8-of-9{
			@include span-columns(8 of 9);
		}
		.small-9-of-9{
			@include span-columns(9 of 9);
		}
	}
	.small-10{
		@include span-columns(10);
		.small-1-of-10{
			@include span-columns(1 of 10);
		}
		.small-2-of-10{
			@include span-columns(2 of 10);
		}
		.small-3-of-10{
			@include span-columns(3 of 10);
		}
		.small-4-of-10{
			@include span-columns(4 of 10);
		}
		.small-5-of-10{
			@include span-columns(5 of 10);
		}
		.small-6-of-10{
			@include span-columns(6 of 10);
		}
		.small-7-of-10{
			@include span-columns(7 of 10);
		}
		.small-8-of-10{
			@include span-columns(8 of 10);
		}
		.small-9-of-10{
			@include span-columns(9 of 10);
		}
		.small-10-of-10{
			@include span-columns(10 of 10);
		}
	}
	.small-11{
		@include span-columns(11);
		.small-1-of-11{
			@include span-columns(1 of 11);
		}
		.small-2-of-11{
			@include span-columns(2 of 11);
		}
		.small-3-of-11{
			@include span-columns(3 of 11);
		}
		.small-4-of-11{
			@include span-columns(4 of 11);
		}
		.small-5-of-11{
			@include span-columns(5 of 11);
		}
		.small-6-of-11{
			@include span-columns(6 of 11);
		}
		.small-7-of-11{
			@include span-columns(7 of 11);
		}
		.small-8-of-11{
			@include span-columns(8 of 11);
		}
		.small-9-of-11{
			@include span-columns(9 of 11);
		}
		.small-10-of-11{
			@include span-columns(10 of 11);
		}
		.small-11-of-11{
			@include span-columns(11 of 11);
		}
	}
	.small-12{
		@include span-columns(12);
		.small-1-of-12{
			@include span-columns(1 of 12);
		}
		.small-2-of-12{
			@include span-columns(2 of 12);
		}
		.small-3-of-12{
			@include span-columns(3 of 12);
		}
		.small-4-of-12{
			@include span-columns(4 of 12);
		}
		.small-5-of-12{
			@include span-columns(5 of 12);
		}
		.small-6-of-12{
			@include span-columns(6 of 12);
		}
		.small-7-of-12{
			@include span-columns(7 of 12);
		}
		.small-8-of-12{
			@include span-columns(8 of 12);
		}
		.small-9-of-12{
			@include span-columns(9 of 12);
		}
		.small-10-of-12{
			@include span-columns(10 of 12);
		}
		.small-11-of-12{
			@include span-columns(11 of 12);
		}
		.small-12-of-12{
			@include span-columns(12 of 12);
		}
	}
	.small-push-1{
		@include shift(1);
	}
	.small-pull-1{
		@include shift(-1);
	}
	.small-push-2{
		@include shift(2);
	}
	.small-pull-2{
		@include shift(-2);
	}
	.small-push-3{
		@include shift(3);
	}
	.small-pull-3{
		@include shift(-3);
	}
	.small-push-4{
		@include shift(4);
	}
	.small-pull-4{
		@include shift(-4);
	}
	.small-push-5{
		@include shift(5);
	}
	.small-pull-5{
		@include shift(-5);
	}
	.small-push-6{
		@include shift(6);
	}
	.small-pull-6{
		@include shift(-6);
	}
	.small-push-7{
		@include shift(7);
	}
	.small-pull-7{
		@include shift(-7);
	}
	.small-push-8{
		@include shift(8);
	}
	.small-pull-8{
		@include shift(-8);
	}
	.small-push-9{
		@include shift(9);
	}
	.small-pull-9{
		@include shift(-9);
	}
	.small-push-10{
		@include shift(10);
	}
	.small-pull-10{
		@include shift(-10);
	}
	.small-push-11{
		@include shift(11);
	}
	.small-pull-11{
		@include shift(-11);
	}
	.small-push-12{
		@include shift(12);
	}
	.small-pull-12{
		@include shift(-12);
	}
}